.bg-primary{
        transition: all 1s ease;
      }

.trasparente{
	opacity: .7;
}

.trasparente1{
	background-color: #2B2D2D;
	opacity: 1;
}
.button {
  width: 140px;
  height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: black !important;
  background-color: #646666;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #7B8181;
  box-shadow: 2px 5px 14px rgba(240, 240, 245, 0.2);
  color: black !important;
  transform: translateY(7px);
}
.posicion{
	position: relative;
	left: 0%;
}
.opacidad{
	opacity: .4;
}
.tamaño{
  width: 100%;
}