.sombra{
-webkit-box-shadow: 0px 0px 20px -9px rgba(250,247,250,1);
-moz-box-shadow: 0px 0px 20px -9px rgba(250,247,250,1);
box-shadow: 0px 0px 20px -9px rgba(250,247,250,1);
}

.button1 {
  width: 170px;
  height: 45px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 500;
  color: black !important;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  border:1px solid black;
  }

.button1:hover {
  background-color: #909495;
  box-shadow: 2px 5px 14px rgba(255, 255, 255, 0.5);
  color: white !important;
  transform: translateY(20px);
  border:1px solid white;
}